@model dynamic

@{
    ViewBag.Title = "ExactAnswerRiddle";
}

@if (Model.LastResult == true)
{
    <p>Well done, next question!</p>
}
@if (Model.LastResult == false)
{
    <p>That wasn't the correct answer, guess again!</p>
}
<h2>Answer the following question to find your next location:</h2>
<h3>@Model.Question</h3>
@using (Html.BeginForm("CheckResultLocation", "Player"))
{
    <input name="latitude" type="text" value="51.48535158512941" />
    <input name="longitude" type="text" value="-0.12208342552185059" />
    <input id="check-location" type="submit" value="Check your location" />
}
<script type="text/javascript">
    $(function () {
        $('#check-location').click(function () {
            // Set lat and long values based on user location.
        });
    });
</script>