@{
    ViewBag.Title = "Home Page";
}

<ul>
    <li>
        @Html.ActionLink("Manage game", "Index", "Host")
    </li>
    <li>
        @Html.ActionLink("Play game", "Index", "Player")
    </li>
</ul>
